# Scraping data

In [1]:
pip install snscrape

Collecting snscrape
  Downloading snscrape-0.6.2.20230320-py3-none-any.whl (71 kB)
     -------------------------------------- 71.8/71.8 kB 303.3 kB/s eta 0:00:00
Requirement already satisfied: lxml in e:\work\anakonda\lib\site-packages (from snscrape) (4.9.1)
Requirement already satisfied: beautifulsoup4 in e:\work\anakonda\lib\site-packages (from snscrape) (4.11.1)
Requirement already satisfied: filelock in e:\work\anakonda\lib\site-packages (from snscrape) (3.6.0)
Requirement already satisfied: requests[socks] in e:\work\anakonda\lib\site-packages (from snscrape) (2.28.1)
Requirement already satisfied: soupsieve>1.2 in e:\work\anakonda\lib\site-packages (from beautifulsoup4->snscrape) (2.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in e:\work\anakonda\lib\site-packages (from requests[socks]->snscrape) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in e:\work\anakonda\lib\site-packages (from requests[socks]->snscrape) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in e:\work\anakonda\lib\site-packages (from requests[socks]->snscrape) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in e:\work\anakonda\lib\site-packages (from requests[socks]->snscrape) (3.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in e:\work\anakonda\lib\site-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.6.2.20230320
Note: you may need to restart the kernel to use updated packages.

In [25]:
import pandas as pd

# create a list of dictionaries with the data you scraped
data = [{'tweet': 'Lorem ipsum dolor sit amet', 'sentiment': 'positive'},
        {'tweet': 'Consectetur adipiscing elit', 'sentiment': 'positive'},
        {'tweet': 'Sed do eiusmod tempor incididunt', 'sentiment': 'neutral'},
        {'tweet': 'Ut labore et dolore magna aliqua', 'sentiment': 'negative'}]

# create a DataFrame from the list of dictionaries
tweet_df = pd.DataFrame(data)

# print the DataFrame
print(tweet_df)

                              tweet sentiment
0        Lorem ipsum dolor sit amet  positive
1       Consectetur adipiscing elit  positive
2  Sed do eiusmod tempor incididunt   neutral
3  Ut labore et dolore magna aliqua  negative

In [26]:
# creating Data frame 
tweet_df = pd.DataFrame({'tweet':tweets})

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [11]:
import pandas as pd

# create a new data frame with a 'content' column
tweet_df = pd.DataFrame({'content': ["This is a sample tweet.", "Here's another one."]})

# tokenize the tweets
tokenized_tweet = [tweet.split() for tweet in tweet_df['content']]

# store the tokenized tweets in a new column of the data frame
tweet_df['clean_tweet'] = tokenized_tweet

# print the data frame
print(tweet_df)

                   content                    clean_tweet
0  This is a sample tweet.  [This, is, a, sample, tweet.]
1      Here's another one.        [Here's, another, one.]

In [24]:
scraper = sntwitter.TwitterSearchScraper("#JusticeforMwathi")

tweets = []
for i, tweet in enumerate( scraper.get_items() ):
  data =[tweet.date, tweet.id, tweet.content, tweet.user.username,]
  tweets.append(data)
  if i > 50:
    break

C:\Users\Hp 840 G5\AppData\Local\Temp\ipykernel_3804\2067480850.py:5: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  data =[tweet.date, tweet.id, tweet.content, tweet.user.username,]

In [25]:
tweet_df = pd.DataFrame(tweets, columns = ['date', 'id', 'content', 'username',])
tweet_df

,date,id,content,username
0,2023-03-22 12:46:27+00:00,1638522527587741696,This is how a REVOLUTION is born. I don't know...,MwihakiMukuna
1,2023-03-21 20:27:38+00:00,1638276199100104704,Samidoh dedicates emotional song to late nephe...,GikuyuBulletin
2,2023-03-11 08:11:21+00:00,1634467029041152003,We @2facekimani are here to give you the value...,2facekimani
3,2023-03-08 09:19:25+00:00,1633396997859295234,This young boy went to secure the bag only to ...,ShikoEssie2
4,2023-03-08 08:47:31+00:00,1633388966312308736,Goodüëèüèæ #JusticeForMwathi,njambifever
5,2023-03-08 05:41:22+00:00,1633342122962157569,Dj Fatxo\n#JusticeForMwathi\nDCI HQ\nRigarthre...,ShikoEssie2
6,2023-03-08 03:40:36+00:00,1633311730502717442,#justiceformwathi,gikonyo_shiro
7,2023-03-07 18:46:45+00:00,1633177380163395587,#justiceformwathi,mikewilll254

In [26]:
#Save the data in a csv file
tweet_df.to_csv("JusticeforMwathi.csv", index = False)
tweet_df

,date,id,content,username
0,2023-03-22 12:46:27+00:00,1638522527587741696,This is how a REVOLUTION is born. I don't know...,MwihakiMukuna
1,2023-03-21 20:27:38+00:00,1638276199100104704,Samidoh dedicates emotional song to late nephe...,GikuyuBulletin
2,2023-03-11 08:11:21+00:00,1634467029041152003,We @2facekimani are here to give you the value...,2facekimani
3,2023-03-08 09:19:25+00:00,1633396997859295234,This young boy went to secure the bag only to ...,ShikoEssie2
4,2023-03-08 08:47:31+00:00,1633388966312308736,Goodüëèüèæ #JusticeForMwathi,njambifever
5,2023-03-08 05:41:22+00:00,1633342122962157569,Dj Fatxo\n#JusticeForMwathi\nDCI HQ\nRigarthre...,ShikoEssie2
6,2023-03-08 03:40:36+00:00,1633311730502717442,#justiceformwathi,gikonyo_shiro
7,2023-03-07 18:46:45+00:00,1633177380163395587,#justiceformwathi,mikewilll254

# Cleaning the data

In [27]:
#Lower case conversion
tweet_df['content'] = tweet_df['content'].str.lower()
tweet_df

,date,id,content,username
0,2023-03-22 12:46:27+00:00,1638522527587741696,this is how a revolution is born. i don't know...,MwihakiMukuna
1,2023-03-21 20:27:38+00:00,1638276199100104704,samidoh dedicates emotional song to late nephe...,GikuyuBulletin
2,2023-03-11 08:11:21+00:00,1634467029041152003,we @2facekimani are here to give you the value...,2facekimani
3,2023-03-08 09:19:25+00:00,1633396997859295234,this young boy went to secure the bag only to ...,ShikoEssie2
4,2023-03-08 08:47:31+00:00,1633388966312308736,goodüëèüèæ #justiceformwathi,njambifever
5,2023-03-08 05:41:22+00:00,1633342122962157569,dj fatxo\n#justiceformwathi\ndci hq\nrigarthre...,ShikoEssie2
6,2023-03-08 03:40:36+00:00,1633311730502717442,#justiceformwathi,gikonyo_shiro
7,2023-03-07 18:46:45+00:00,1633177380163395587,#justiceformwathi,mikewilll254

In [28]:
tweet = tweet_df['content'][2]
print(tweet)

we @2facekimani are here to give you the value of your money.our products suits are unique to fit your stardand.we are located @gikomba opposite co.op https://t.co/x8vtnxlc4s us on 0722698212
#terencecreative
#supermetro
#justiceformwathi
#musculinitysartuday. https://t.co/6svxl7zg5a

In [29]:
# remove special characters, numbers and punctuations
tweet_df['content'] = tweet_df['content'].str.replace("[^a-zA-Z#]", " ")
#Removing unwanted characters
for column in tweet_df.columns:
    tweet_df['content'] = tweet_df['content'].str.replace(r'\W'," ")

C:\Users\Hp 840 G5\AppData\Local\Temp\ipykernel_3804\2253038890.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  tweet_df['content'] = tweet_df['content'].str.replace("[^a-zA-Z#]", " ")
C:\Users\Hp 840 G5\AppData\Local\Temp\ipykernel_3804\2253038890.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  tweet_df['content'] = tweet_df['content'].str.replace(r'\W'," ")

In [30]:
#Cleaned data
tweet_df

,date,id,content,username
0,2023-03-22 12:46:27+00:00,1638522527587741696,this is how a revolution is born i don t know...,MwihakiMukuna
1,2023-03-21 20:27:38+00:00,1638276199100104704,samidoh dedicates emotional song to late nephe...,GikuyuBulletin
2,2023-03-11 08:11:21+00:00,1634467029041152003,we facekimani are here to give you the value...,2facekimani
3,2023-03-08 09:19:25+00:00,1633396997859295234,this young boy went to secure the bag only to ...,ShikoEssie2
4,2023-03-08 08:47:31+00:00,1633388966312308736,good justiceformwathi,njambifever
5,2023-03-08 05:41:22+00:00,1633342122962157569,dj fatxo justiceformwathi dci hq rigarthress ...,ShikoEssie2
6,2023-03-08 03:40:36+00:00,1633311730502717442,justiceformwathi,gikonyo_shiro
7,2023-03-07 18:46:45+00:00,1633177380163395587,justiceformwathi,mikewilll254

# Data tokenization

In [31]:
import re

# Tokenize the data
tokenized_tweet = tweet_df['content'].apply(lambda x: x.split())
tokenized_tweet

0    [this, is, how, a, revolution, is, born, i, do...
1    [samidoh, dedicates, emotional, song, to, late...
2    [we, facekimani, are, here, to, give, you, the...
3    [this, young, boy, went, to, secure, the, bag,...
4                             [good, justiceformwathi]
5    [dj, fatxo, justiceformwathi, dci, hq, rigarth...
6                                   [justiceformwathi]
7                                   [justiceformwathi]
Name: content, dtype: object

In [15]:
# combine words into single sentence
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = "".join(tokenized_tweet[i])

    
tweet_df['clean_tweet'] = tokenized_tweet

In [31]:
print(tweet_df.columns)

Index(['tweet'], dtype='object')

In [32]:
import re
import string

def clean_tweet(tweet):
    # Remove URLs, RTs, and mentions
    tweet = re.sub(r'http\S+', '', tweet)
    tweet = re.sub(r'@\S+', '', tweet)
    tweet = re.sub(r'RT\S+', '', tweet)
    
    # Remove punctuation and convert to lowercase
    tweet = tweet.translate(str.maketrans('', '', string.punctuation))
    tweet = tweet.lower()
    
    return tweet.strip()

# Apply the clean_tweet function to each tweet in the DataFrame
tweet_df['clean_tweet'] = tweet_df['tweet'].apply(clean_tweet)

In [35]:
from textblob import TextBlob

tweet_df['sentiment_score'] = tweet_df['clean_tweet'].apply(lambda tweet: TextBlob(tweet).sentiment.polarity)

In [36]:
tweet_df.loc[tweet_df.sentiment_score >= 0.5, 'sentiment'] = 'positive'
tweet_df.loc[tweet_df.sentiment_score < 0.5, 'sentiment'] = 'negative'
tweet_df.loc[tweet_df.sentiment_score == 0.5, 'sentiment'] = 'neutral'

In [72]:
X = tweet_df['clean_tweet']
y = tweet_df['sentiment']

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [42]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

In [43]:
# Creating a CountVectorizer object to transform the text data into a numerical representation
vectorizer = CountVectorizer()

In [45]:
# Fitting the vectorizer on the training data
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
vectorizer.fit(X_train)

CountVectorizer()

In [46]:
# Transforming the training and testing data using the vectorizer
X_train = vectorizer.transform(X_train)
X_test = vectorizer.transform(X_test)

In [47]:
# Creating a Multinomial Naive Bayes classifier object
clf = MultinomialNB()

In [55]:

# Training a Naive Bayes classifier
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB()

In [88]:
X_val = vectorizer.transform(val_data)

In [99]:
from sklearn.feature_extraction.text import CountVectorizer

# Define your training data as a list of strings
train_data = ["this is a sample tweet", "another sample tweet", "a third sample tweet"]

# Create a CountVectorizer object
vectorizer = CountVectorizer()

# Convert your text data into numerical features
X_train = vectorizer.fit_transform(train_data)

In [102]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

# Define your training data
train_data = ["This is a positive sentence", "This is a negative sentence", "This is a neutral sentence"]
# Define the labels for your training data
y_train = ["positive", "negative", "neutral"]

# Convert your text data into numerical features
vectorizer = CountVectorizer()
X_train = vectorizer.fit_transform(train_data)

# Train the Naive Bayes model
nb = MultinomialNB()
nb.fit(X_train, y_train)

MultinomialNB()

In [107]:
print(test_data.columns)

Index(['ID', 'Tweets'], dtype='object')

In [109]:
if 'label' in test_data:
    y_true = test_data['label']
else:
    print('Key "label" not found in test_data')

Key "label" not found in test_data

In [ ]:
import pandas as pd

# Load test set
test_data = pd.read_csv('test.csv')

# Extract true labels from test set
y_true = test_data['label']